body {
  min-height: 2000px;
  padding-top: 70px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* black screen where the code happens*/
.CodeMirror {
  height: 600px;
}

/*border box for the code*/
*, *:before, *after {
  -moz-box.sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#my-video {
  margin-top: 15px;
  width: 280px;
  height: auto;
  background-color: #eee;
}

#second-video {
  width: 100%;
  height: 75%;
  max-height: 480px;
  background-color: #eee;
}

#video-container {
  text-align: center;
}

#step1-error, #step2, #step3 {
  display: none;
}

#my-id {
  font-weight: bold;
}


.btn {
}

.btn:hover, .btn:focus{
  color: #fff;
}

.btn.btn-facebook {
  border: 1px solid #3B5998;
  background-color: #3B5998;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
  margin-top: 20px;
}

.btn.btn-facebook:active {
  outline: none;
  border-color: #2d467b;
  background-color: #2d467b;
}
